<p id="notice"><%= notice %></p>

<p>
  <strong>Track title:</strong>
  <%= @track.track_title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @track.artist_id %>
</p>

<p>
  <strong>Album:</strong>
  <%= @track.album_id %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @track.track_number %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
