<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist name:</strong>
  <%= @playlist.playlist_name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @playlist.artist_id %>
</p>

<p>
  <strong>Track:</strong>
  <%= @playlist.track_id %>
</p>

<p>
  <strong>List year:</strong>
  <%= @playlist.list_year %>
</p>

<p>
  <strong>Chart position:</strong>
  <%= @playlist.chart_position %>
</p>

<p>
  <strong>Source:</strong>
  <%= @playlist.source %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
